<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <title>Image Processing App</title>
    <style>
        .slider {
            width: 200px;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .images {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        .images img {
            max-width: 400px;
            margin-right: 20px;
        }
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin-left: 10px;
            background-color: #4CAF50;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }
        .slider-container {
            width: 33%;
            margin: 0 auto;
        }
        .inline-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .inline-container label {
            margin-right: 10px;
        }
        .inline-container select {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Image Processing App</h1>
        <div class="inline-container">
            <button class="btn" id="choose_button" onclick="document.getElementById('upload_input').click()">选择文件</button>
            <input type="file" id="upload_input" accept="image/*" style="display: none;" />
            <button class="btn" id="upload_button" onclick="upload()">Upload</button>
        </div>
        <br>
        <br>
        <button class="btn" id="sharpen_button" onclick="sharpen()">Sharpen</button>
        <button class="btn" id="binarize_button" onclick="binarize()">Binarize</button>
        <br />
        <div class="inline-container">
            <div class="slider-container">
                <label for="sharpen_slider">Sharpen Factor:</label>
                <div id="sharpen_slider"></div>
                <span id="sharpen_value">1</span>
            </div>
        
            <label for="sharpen_type">Sharpen Type:</label>
            <select id="sharpen_type">
                <option value="laplacian1" selected>Laplacian1</option>
                <option value="laplacian2" selected>Laplacian2</option>
                <option value="laplacian3" selected>Laplacian3</option>
                <option value="unsharp">Unsharp</option>
                <option value="scharr">Scharr</option>
            </select>
        </div>
    
        <div class="slider-container">
            <label for="binarize_slider">Binarize Threshold:</label>
            <div id="binarize_slider"></div>
            <span id="binarize_value">50</span>
        </div>
        <div class="images">
            <div class="image-container">
                <h2>Original Image </h2>
                <img id="preview_image" src="" alt="Preview" />
                <br>
                <button class="btn" onclick="download('original')">Download Original</button>
            </div>
            <div class="image-container">
                <h2>Sharpened Image </h2>
                <img id="sharpened_image" src="" alt="Sharpened Image" />
                <br>
                <button class="btn" onclick="download('sharpened')">Download Sharpened</button>
            </div>
            <div class="image-container">
                <h2>Binarized Image </h2>
                <img id="binarized_image" src="" alt="Binarized Image" />
                <br>
                <button class="btn" onclick="download('binarized')">Download Binarized</button>
            </div>
        </div>
    </div>
    
    <script>
        function upload() {
            const button = document.getElementById('upload_button');
            button.disabled = true; // 将按钮置为不可用状态
        
            const fileInput = document.getElementById('upload_input');
            const file = fileInput.files[0];
        
            const formData = new FormData();
            formData.append('file', file);
            formData.append('filename', file.name);
        
            const startTime = performance.now(); // 记录开始时间
        
            fetch('/upload', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(message => {
                const endTime = performance.now(); // 记录结束时间
                const elapsed = endTime - startTime; // 计算耗时
                console.log("upload elapsed time: " + elapsed + " milliseconds"); // 打印耗时
        
                console.log(message);
                alert(message);
            })
            .catch(error => {
                console.error(error);
                alert('Upload failed!');
            })
            .finally(() => {
                button.disabled = false; // 在请求返回后将按钮置为可用状态
            });
        }
        
        function download(type) {
            startTime = performance.now(); // 记录开始时间
        
            let filename = '';
            let downloadBtn;
            if (type === 'original') {
                filename = document.getElementById('upload_input').files[0]?.name;
            } else if (type === 'sharpened') {
                filename = "sharpen_" + document.getElementById('upload_input').files[0]?.name;
            } else if (type === 'binarized') {
                filename = "binary_" + document.getElementById('upload_input').files[0]?.name;
            }
            if (!filename) {
                alert('Please upload an image first.');
                return;
            }
            const formData = new FormData();
            formData.append('filename', filename);
        
            fetch('/download', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                const endTime = performance.now(); // 记录结束时间
                const elapsed = endTime - startTime; // 计算耗时
                startTime = endTime;
                console.log("download elapsed time: " + elapsed + " milliseconds"); // 打印耗时
                return response.blob();
            })
            .then(blob => {
                const downloadUrl = URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = downloadUrl;
                a.download = filename;
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
                document.body.removeChild(a);
        
                const endTime = performance.now(); // 记录结束时间
                const elapsed = endTime - startTime; // 计算耗时
                console.log("download elapsed time: " + elapsed + " milliseconds"); // 打印耗时
        
                alert('Success!');
            })
            .catch(error => {
                console.error(error);
                alert('Error occurred while downloading image!');
            });
        }
        
        function sharpen() {
            const button = document.getElementById('sharpen_button');
            button.disabled = true; // 将按钮置为不可用状态
            
            const sharpenType = document.getElementById('sharpen_type').value;
            const sharpenFactor = $('#sharpen_slider').slider('value');
            const filename = document.getElementById('upload_input').files[0]?.name;
        
            if (!filename) {
                alert("Please upload an image first.");
                return;
            }
        
            const sharpenedImage = document.getElementById('sharpened_image');
            if (sharpenedImage.src !== '') {
                URL.revokeObjectURL(sharpenedImage.src); // 释放之前显示的图片资源
            }
            sharpenedImage.src = ''; // 删除当前显示的图片
        
            startTime = performance.now(); // 记录开始时间
        
            fetch('/sharpen', {
                method: 'POST',
                body: JSON.stringify({ filename: filename, param: sharpenFactor, type: sharpenType}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                const endTime = performance.now(); // 记录结束时间
                const elapsed = endTime - startTime; // 计算耗时
                startTime = endTime;
                console.log("sharpen elapsed time: " + elapsed + " milliseconds"); // 打印耗时
                return response.blob();
            })
            .then(blob => {
                sharpenedImage.src = URL.createObjectURL(blob); // 显示请求返回的图片
                
                const endTime = performance.now(); // 记录结束时间
                const elapsed = endTime - startTime; // 计算耗时
                console.log("sharpen elapsed time: " + elapsed + " milliseconds"); // 打印耗时
        
                alert('Success!');
            })
            .catch(error => {
                console.error(error);
                alert('Error occurred while sharpening image!');
            })
            .finally(() => {
                button.disabled = false; // 在请求返回后将按钮置为可用状态
            });
        }
        
        function binarize() {
        const button = document.getElementById('binarize_button');
        button.disabled = true; // 将按钮置为不可用状态
        const binarizeThreshold = $('#binarize_slider').slider('value');
        const filename = document.getElementById('upload_input').files[0]?.name;
        if (!filename) {
            alert("Please upload an image first.");
            return;
        }
        
        const binarizedImage = document.getElementById('binarized_image');
        if (binarizedImage.src !== '') {
            URL.revokeObjectURL(binarizedImage.src); // 释放之前显示的图片资源
        }
        binarizedImage.src = ''; // 删除当前显示的图片
        
        startTime = performance.now(); // 记录开始时间
        
        fetch('/binarize', {
            method: 'POST',
            body: JSON.stringify({ filename: filename, param: binarizeThreshold }),
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            const endTime = performance.now(); // 记录结束时间
            const elapsed = endTime - startTime; // 计算耗时
            startTime = endTime;
            console.log("binarize elapsed time: " + elapsed + " milliseconds"); // 打印耗时
            return response.blob();
        })
        .then(blob => {
            binarizedImage.src = URL.createObjectURL(blob); // 显示请求返回的图片
            
            const endTime = performance.now(); // 记录结束时间
            const elapsed = endTime - startTime; // 计算耗时
            console.log("binarize elapsed time: " + elapsed + " milliseconds"); // 打印耗时
        
            alert('Success!');
        })
        .catch(error => {
            console.error(error);
            alert('Error occurred while binarizing image!');
        })
        .finally(() => {
            button.disabled = false; // 在请求返回后将按钮置为可用状态
        });
    }
        const fileInput = document.getElementById('upload_input');
        fileInput.addEventListener('change', () => {
            const file = fileInput.files[0];
            const reader = new FileReader();

            reader.onload = function(e) {
                const previewImage = document.getElementById('preview_image');
                previewImage.src = e.target.result;

                // Reset sharpened and binarized images
                const sharpenedImage = document.getElementById('sharpened_image');
                sharpenedImage.src = '';
                const binarizedImage = document.getElementById('binarized_image');
                binarizedImage.src = '';
            };

            reader.readAsDataURL(file);
        });

        $(document).ready(function() {
            // 获取屏幕宽度的一半作为滑动条的宽度
            var sliderWidth = $(window).width() / 3;
            
            // 创建并设置参数滑动条
            $('#sharpen_slider').slider({
                min: 1,
                max: 10,
                value: 1,
                width: sliderWidth,
                slide: function(event, ui) {
                    $('#sharpen_value').text(ui.value);   // 实时更新显示滑动条的值
                },
                change: function(event, ui) {
                    $('#sharpen_value').text(ui.value);   // 最终选定的滑动条值
                }
            });

            $('#binarize_slider').slider({
                min: 0,
                max: 255,
                value: 128,
                width: sliderWidth,
                slide: function(event, ui) {
                    $('#binarize_value').text(ui.value);   // 实时更新显示滑动条的值
                },
                change: function(event, ui) {
                    $('#binarize_value').text(ui.value);   // 最终选定的滑动条值
                }
                    });
        });
    </script>
</body>
</html>